/*Google Fonts*/
/*<uniquifier>: Use a unique and descriptive class name*/
/*<weight>: Use a value from 300 to 900*/
.playfair-italic {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  font-variation-settings:
    "wdth" 100;
}



body {
    font-family: Arial, sans-serif;
    background-color: #7edc8b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

.container {
    text-align: center;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    margin-bottom: 20px;
    font-size: 50px;
}

form {
    margin-bottom: 20px;
}

button {
    background-color: #bf00ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45b300;
}

#name-output {
    margin-top: 20px;
    text-align: center; /* Centramos el texto */
}

.name-title {
    font-size: 22px; /* Tamaño de fuente para "Nombre:" */
    font-weight: bold;
}

.name {
    font-size: 20px; /* Tamaño de fuente grande para el nombre */
}

.meaning-title {
    font-size: 22px; /* Tamaño de fuente para "Significado:" */
    font-weight: bold;
}

.meaning {
    font-size: 18px; /* Tamaño de fuente más pequeño para el significado */
}

.origin-title {
    font-size: 22px; /* Tamaño de fuente para "Origen:" */
    font-weight: bold;
}

.origin {
    font-size: 18px; /* Tamaño de fuente igual al del significado para el origen */
}